<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8">
  <title>GOV.UK - The best place to find government services and information</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon"> -->
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">
  <link rel="stylesheet" type="text/css" href="appealServices.css">

  <!--[if !IE 8]><!-->
  <!-- <link href="/govuk-frontend/govuk/all.css" rel="stylesheet"> -->
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="/govuk-frontend/all-ie8.css" rel="stylesheet">
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body ">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">
        
            <div class="govuk-notification">
                <strong class="govuk-tag">BETA</strong> This is a new service - your <a href="#">feedback</a> will help us to improve it. (opens in a new window)
            </div>

            <div class="govuk-label-wrapper">
                <h1 class="govuk-label govuk-label--l" for="more-detail">
                    Pablo Jimenez
                </h1>
                <p>Appeal reference: A1289034</p>
            </div>

            <div class="govuk-main-content-wrapper">
                <div class="govuk-main-content">

                    <div class="hmcts-progress-bar">
                        <ol class="hmcts-progress-bar__list">
                        
                            <li class="hmcts-progress-bar__list-item">
                                <span class="hmcts-progress-bar__icon complete ">
                                    <div class="govuk-appeal-summary_check"></div>
                                </span>
                                <span class="hmcts-progress-bar__label">Your appeal details</span>
                            </li>
                            
                            <li class="hmcts-progress-bar__list-item" aria-current="step">
                                <span class="hmcts-progress-bar__icon complete"></span>
                                <span class="hmcts-progress-bar__label">Your appeal argument</span>
                            </li>
                            
                            <li class="hmcts-progress-bar__list-item">
                                <span class="hmcts-progress-bar__icon"></span>
                                <span class="hmcts-progress-bar__label">Your hearing detials</span>
                            </li>
                            
                            <li class="hmcts-progress-bar__list-item">
                                <span class="hmcts-progress-bar__icon"></span>
                                <span class="hmcts-progress-bar__label">Your appeal decision</span>
                            </li>
                        
                        </ol>
                    </div>

                    <div class="govuk-appeal-steps" data-nosnippet role="region" aria-label="govuk-appeal-steps">
                        <div class="govuk-appeal-steps__text">
                            <h2><strong>Do this next</strong></h2>
                        </div>
                        <div class="govuk-appeal-steps__message">
                            <p class="govuk-appeal-steps-body">Tell us why you think the Home Office decision to refuse your claim is wrong.</p>
                            <div class="govuk-button-group">
                                <button value="accept" type="button" class="govuk-button" data-module="govuk-appeal-steps-button">
                                    Continue
                                </button>
                            </div>
                            <p>You need to respond by 25 January 2019.<a href="#"> Ask for more time</a></p>
                            <p><strong>Useful documents</strong></p>
                            <p><a href="#">Home Office documents about your case</a></p>
                            <p><strong>Helpful information</strong></p>
                            <p><a href="#">Understand your Home Office documents</a></p>
                        </div>
                    </div>

                    <div class="govuk-notification-wrapper">
                        <h2 class="govuk-appeal-notification">Completed</h2>
                        <div class="govuk-appeal-summary-wrapper">
                            <h2>Your appeal details</h2>
                            <div class="govuk-appeal-summary">
                                <div class="govuk-appeal-summary_check-wrapper">
                                    <div class="govuk-appeal-summary_check"></div>
                                </div>
                                <div class="govuk-appeal-summary-details">
                                    <strong>01 January2019</strong> - You sent your appeal details to the Tribunal.
                                    <div class="govuk-appeal-summary-details_link">
                                        <strong>What you sent</strong>
                                        <a href="#">Your appeal details</a>
                                    </div>
                                    <div class="govuk-appeal-summary-details_link">
                                        <strong>Helpful information</strong>
                                        <a href="#">What is a Tribunal Caseworker?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="govuk-appeal-wrapper">
                    <div class="govuk-appeal-options">
                        <h3 class="govuk-appeal-options_title"><strong>I want to...</strong></h3>
                        <div class="govuk-appeal-options_links">
                            <a href="#">Withdraw my appeal</a>
                        </div>
                    </div>
                    <div class="govuk-appeal-contact">
                        <div class="govuk-appeal-contact_title">
                            <h3><strong>Contact us for help</strong></h3>
                        </div>
                        <div class="govuk-appeal-contact_text">
                            Ask a question or get help in your language.
                        </div>
                        <div class="govuk-appeal-contact-info">
                            <div class="govuk-appeal-contact-info_tel">
                                Telephone:
                                <br>
                                03001231711
                            </div>
                            <div class="govuk-appeal-contact-info_email">
                                Email:
                                <a href="#">customer.service@justice.gov.uk</a>
                            </div>
                            <div class="govuk-appeal-contact-info_timings">Monday to Friday, 8:30am to 5pm
                                <a href="#">Find out about call charges</a>
                                <span>(opens in a new window)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>

  <footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#1">
                        Contact us
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#2">
                        Accessibility
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#3">
                        Cookies
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#3">
                        Terms and conditions
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#3">
                        Privacy policy
                    </a>
                </li>
            </ul>

            <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
                <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
            </svg>

            <span class="govuk-footer__licence-description">
                All content is available under the
                <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
            </span>

        </div>
        <div class="govuk-footer__meta-item">
          <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>