{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Adoption dashboard
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Jane Austen</h1>
      <h2 class="govuk-heading-m govuk-!-margin-top-0">1235-1223-1223-0099</h2>
    </div>

  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <!-- Progress bar -->
      <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">
        
            <li class="hmcts-progress-bar__list-item" aria-current="step">
                <span class="hmcts-progress-bar__icon complete">
                    <div class="govuk-appeal-summary_check"></div>
                </span>
                <span class="hmcts-progress-bar__label">Application submitted</span>
            </li>
                      
            <li class="hmcts-progress-bar__list-item complete">
              <span class="hmcts-progress-bar__icon"></span>
              <span class="hmcts-progress-bar__label">Final hearing</span>
            </li>
                          
            <li class="hmcts-progress-bar__list-item">
                <span class="hmcts-progress-bar__icon"></span>
                <span class="hmcts-progress-bar__label">Application decision</span>
            </li>
        
          </ol>
      </div>

      <!-- Do this next -->
      <div class="govuk-appeal-steps" data-nosnippet role="region" aria-label="govuk-appeal-steps">
        <div class="govuk-appeal-steps__text">
            <h2><strong>Do this next</strong></h2>
        </div>
        <div class="govuk-appeal-steps__notification">
            <div class="rectangle-box"></div>
            <!-- <div class="govuk-appeal-steps__notification-text">RUN.. FUCKING RUN...THEY'RE ALL COMING...OMG THEY'RE HERE...RUN FGS SAKE!</div> -->
            <div class="govuk-appeal-steps__notification-text">This is a notification</div>
        </div>
        <div class="govuk-appeal-steps__message">
          <p class="govuk-appeal-steps-body govuk-!-font-weight-bold">Application submitted</p>
          <p class="govuk-appeal-steps-body">You will receive a confirmation email. If you do not have this, please check your junk email folder.</p>
          <p class="govuk-appeal-steps-body">The social worker will submit further documentation to the court in support of your application.</p>
          <p class="govuk-appeal-steps-body">The court will contact you if they need any further information from you or if the birth parents oppose the application. If more information is needed you can provide it here.</p>

          <!-- <div class="govuk-button-group">
            <button value="accept" type="button" class="govuk-button"  data-module="govuk-appeal-steps-button">
                Continue
            </button>
          </div> -->
      </div>

      <div class="govuk-notification-wrapper">
        <h2 class="govuk-appeal-notification">Completed</h2>
        <div class="govuk-appeal-summary-wrapper">
            <h2>Application submitted</h2>
            <div class="govuk-appeal-summary">
                <div class="govuk-appeal-summary_check-wrapper">
                    <div class="govuk-appeal-summary_check"></div>
                </div>
                <div class="govuk-appeal-summary-details">
                    <strong>01 January 2019</strong> - You sent your appeal details to the Tribunal.
                    <div class="govuk-appeal-summary-details_link">
                        <strong>What you sent</strong>
                        <a href="#">Your appeal details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    
    <div class="govuk-grid-column-one-third">
      <div class="govuk-appeal-wrapper">
        <div class="govuk-appeal-options">
            <h3 class="govuk-appeal-options_title"><strong>I want to...</strong></h3>
            <div class="govuk-appeal-options_links">
              <a href="view-application.html">View your application</a>
              <a href="#">View your documents</a>
              <a href="#">View notifications</a>
              <a href="#">View other applications</a>
            </div>
        </div>

        <div class="govuk-appeal-contact">
            <div class="govuk-appeal-contact_title">
                <h3><strong>Contact us for help</strong></h3>
            </div>
            <div class="govuk-appeal-contact_text">
                Ask a question or get help in your language.
            </div>
            <div class="govuk-appeal-contact-info">
                <div class="govuk-appeal-contact-info_tel">
                    Telephone:
                    <br>
                    03001231711
                </div>
                <div class="govuk-appeal-contact-info_email">
                    Email:
                    <a href="#">customer.service@justice.gov.uk</a>
                </div>
                <div class="govuk-appeal-contact-info_timings">Monday to Friday, 8:30am to 5pm
                    <a href="#">Find out about call charges</a>
                    <span>(opens in a new window)</span>
                </div>
            </div>
        </div>
      </div>      
    </div>
    
  </div>
</div>

{% endblock %}
