<article>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text">

        <h2 class=“govuk-heading-m”>Send us a message</h2>
            <ul class=“govuk-list”>
                <li>Email: <a class=“govuk-link” href=“#”>adoptionproject@justice.gov.uk</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class=“govuk-heading-m”>Telephone</h2>
            <ul class=“govuk-list”>
                <li>Telephone: 01634 887900</li>
                <li>Monday to Friday 9am to 5pm</li>
            </ul>
  </div>
</details>

</article>
