<article>
    <div style="display: flex; align-items:right; padding-top: 0px;">
        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

        <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected="">Select action</option>
            <option value="published">Summary</option>
            <option value="published">Prospective Parents</option>
            <option value="published">Birth Parents</option>
            <option value="published">Other parties</option>
            <option value="updated">Notes</option>
            <option value="updated">Manage documents</option>
            <option value="updated">History</option>
            <option value="updated">Payment</option>
            <option value="updated">Add Welsh requirements</option>
            <option value="updated">Attending the hearing</option>
            <option value="updated">Issue and send to local court</option>
            <option value="updated">Send to gate keeper</option>
            <option value="updated">Other Proceedings</option>
        </select>

        <div>
            <a href="creator_create_flag.html">
                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
            </a>
        </div>

    </div>

</article>
