<article>
    <div style="display: flex; align-items:right; padding-top: 0px;">
        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

        <select class="govuk-select" id="sort" name="nex-steps">
            <option value="select-action" selected="">Select action</option>
            <option value="summary">Summary</option>
            <option value="prospective-parents">Prospective Parents</option>
            <option value="birth-parents">Birth Parents</option>
            <option value="other-partis">Other parties</option>
            <option value="notes">Notes</option>
            <option value="documents">Manage documents</option>
            <option value="history">History</option>
            <option value="payment">Payment</option>
            <option value="welsh">Add Welsh requirements</option>
            <option value="hearing">Attending the hearing</option>
            <option value="court">Issue and send to local court</option>
            <option value="gate-keeper">Send to gate keeper</option>
            <option value="other">Other Proceedings</option>
        </select>

        <div>
            <a href="/version-1/includes/next-steps-case-worker.html">
                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
            </a>
        </div>

    </div>

</article>
