{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"> Apply to adopt a child placed in your care</h1>

      <p class="govuk-body">You can apply to adopt a child who's in your care following a <a href="https://www.gov.uk/child-adoption/applying-for-an-adoption-court-order">court placement order</a>.
      <p>You can start your application at any time however, the child must have lived with you for at least 10 weeks before you can submit it.</p>
      <p>You can save your progress in the application by selecting 'save as draft'. This saves your answers so you can continue working on the application at a later date. You can only submit once all sections are complete.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <h3 class="govuk-heading-s">1. Details about you</h3>
      <p class="govuk-body">You need to provide details about yourself and any second applicant.</p> 
      <p class="govuk-body">Some of the information is needed for the Adoption Register and adoption certificate which will replace the child's birth certificate.</p> 
      <p class="govuk-body">You will be asked for information that is on the child's placement order. This includes the name of the local authority who placed the child in your care and the court which made the order. Your social worker or adoption agency will have this information.</p>
      <p class="govuk-body">You will be asked for some personal information. This does not affect your application to adopt.</p>
      <p class="govuk-body">The information you provide is only seen by the court and relevant adoption agencies or authorities.</p>

      <h3 class="govuk-heading-s">2. What to expect</h3>
      <p class="govuk-body">The court processing fee for an application is £183. Payment is due once the application is complete and ready to submit.</p>
      <p class="govuk-body">We will notify your local authority of your application. They will provide details to the court about the child you wish to adopt. This includes information about their birth parents and any siblings. If you don't receive an email confirming this has been done within 10 working days, contact your social worker.</p>
      <p class="govuk-body">Once your application and the information from your local authority is submitted, it can take up to 6 weeks before the court contacts you about a first hearing date. You do not have to attend any of the hearing dates. Some of the child's birth relatives can also be present at court hearings. Your social worker can discuss these hearings with you.</p>

      <h3 class="govuk-heading-s">3. Applying for more than one child</h3>
      <p class="govuk-body">If you're applying for more than one child, you must submit a new application for each child. You will not be charged if you submit these before midnight on the day of your first application. If you submit after the day of the first application, you will be charged another £183. For this reason we recommend you begin the applications early and have everything you need.</p>
      <p class="govuk-body">You must sign in using the same email address and password used in your first application.</p>
      <p class="govuk-body"><a href="interstitial-start.html">Start a new application for another child.</a>
      <p class="govuk-body">If this is your first application you can select 'Start now'.

      </p>


      <a href="multiple-children" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
    </div>
  </div>
</div>

</div>

{% endblock %}
