{% block header %}
{% include "includes/sw-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">  
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">                      
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-l">Manage documents</h1>
                  <h2 class="govuk-heading-m">#1234-5678-0921-2722  &nbsp;&nbsp;&nbsp; </h2>
                  <img src="upload.png" alt="test">

                </div>
              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}