{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">R2</span>
        Adoption beta prototypes
      </h1>

      <!-- <h2 class="govuk-heading-l">
        Section links and shortcuts 
      </h2> -->

      <h2 class="govuk-heading-m">
        A58 form - citizen UI 
      </h2>
      <p><a href="eligibility/start-placement.html">Start journey</a></p>
      <!-- <p><a href="eligibility/under-18.html">Eligibility</a></p> -->
      <p><a href="task-list.html">Shortcut to task list</a></p>
      <!-- <p><a href="citizen-dashboard/">Citizen dashboard</a></p> -->

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Local Authority portal 
      </h2>
      <p><a href="la-portal/access-questions.html">LA Portal</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Expert UI 
      </h2>
      <p><a href="x-ui/case-worker/case-worker-case-list">Case worker case list</a></p>      
      <p><a href="x-ui/case-worker/">X-UI case worker</a></p>
      <p><a href="x-ui/judge/">X-UI judge</a></p>
    </div>



        </div>

    </div>
  </div>
</div>

{% endblock %}