{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">Blank letter recipients</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>


                    <form action="/r2/x-ui/case-worker/blank-letter-recipients" method="post" class="form">
                      <!-- <p>The General Register office will be notified automatically. Please select other recipients.</p> -->
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-!-font-weight-bold" for="sender-email-address">
                              Select who to send this letter to
                            </label>
                            <div id="changed-name-hint" class="govuk-hint">
                              You can select more than one person. It is important that recipients are checked carefully to make sure this letter is not served to the wrong person.
                            </div>                          
                          </legend>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-birth-mother" name="blank-letter-recipient-birth-mother" type="checkbox" value="Respondent (birth mother)">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-birth-mother">
                                Birth mother
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-birth-father" name="blank-letter-recipient-birth-father" type="checkbox" value="Respondent (birth father)">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-birth-father">
                                Birth father
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-first-applicant" name="blank-letter-recipient-first-applicant" type="checkbox" value="First applicant">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-first-applicant">
                                First applicant
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-second-applicant" name="blank-letter-recipient-second-applicant" type="checkbox" value="Second applicant">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-second-applicant">
                                Second applicant
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-child-la" name="blank-letter-recipient-child-la" type="checkbox" value="Child's local authority">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-child-la">
                                Child's local authority
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-applicants-la" name="blank-letter-recipient-applicants-la" type="checkbox" value="Applicants' local authority">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-applicants-la">
                                Applicants' local authority
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-other-adoption-agency" name="blank-letter-recipient-other-adoption-agency" type="checkbox" value="Other adoption agency">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-other-adoption-agency">
                                Other adoption agency
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-other-party-pr" name="blank-letter-recipient-other-party-pr" type="checkbox" value="Other person with parental responsibility">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-other-party-pr">
                                Other person with parental responsibility
                              </label>
                            </div>

                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-cafcass" name="blank-letter-recipient-cafcass" type="checkbox" value="Cafcass">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-cafcass">
                                Legal guardian (Cafcass)
                              </label>
                            </div>

                            <!-- <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-solicitor" name="blank-letter-recipient-solicitor" type="checkbox" value="Solicitor">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-solicitor">
                                Solicitor
                              </label>
                            </div> -->

                            <!-- <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="blank-letter-recipient-adoption-agency" name="blank-letter-recipient-adoption-agency" type="checkbox" value="Adoption agency">
                              <label class="govuk-label govuk-checkboxes__label" for="blank-letter-recipient-adoption-agency">
                                Adoption agency
                              </label>
                            </div> -->

                          </div>
                      
                        </fieldset>
                      </div>                  
                      <!-- Buttons -->
                      {% include "../../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
