{% block header %}
{% include "includes/sw-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">  
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">                      
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Who submitted the statement?</h1>
                  <h2 class="govuk-heading-l">#1234-5678-0921-2722  &nbsp;&nbsp;&nbsp; </h2>
                  

                  <form action="/r2/x-ui/case-worker/case-worker-statements-select-respondent" method="post" class="form">
                  <div class="govuk-form-group">
          
                      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="birth-mother" name="respondent-role" type="radio" value="birth mother">
                          <label class="govuk-label govuk-radios__label" for="birth-mother">
                            Birth mother: Marianne Austen
                          </label>
                        </div>
          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="birth-father" name="respondent-role" type="radio" value="birth father">
                          <label class="govuk-label govuk-radios__label" for="birth-father">
                            Birth father: John Austen
                          </label>
                        </div>
          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="person-with-pr" name="respondent-role" type="radio" value="person with parental responsibility">
                          <label class="govuk-label govuk-radios__label" for="person-with-pr">
                            Person with parental responsibility: Peter Murphy
                          </label>
                        </div>
          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="lorem-ipsum" name="respondent-role" type="radio" value="lorem ipsum">
                          <label class="govuk-label govuk-radios__label" for="lorem-ipsum">
                            Lorem ipsum: Dolor Sit Amet
                          </label>
                        </div>
          
                      </div>                  
                </div>
                <!-- Buttons -->
                {% include "../../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}