{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">General directions order</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>

                    <form action="/r2/x-ui/case-worker/case-worker-general-directions-order-3-1-general" method="post" class="form">
                      <div id="changed-name-hint" class="govuk-hint">
                        Select all directions you want to include on the order
                      </div>  
                      
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-label--s" for="warning-notices">
                              4. Warning notices
                            </label>
                          </legend>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="warning-notices-child" name="warning-notices-child" type="checkbox" value="Child arrangements">
                              <label class="govuk-label govuk-checkboxes__label" for="warning-notices-child">
                                Child arrangements
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="warning-notices-penal" name="warning-notices-penal" type="checkbox" value="Penal notice">
                              <label class="govuk-label govuk-checkboxes__label" for="warning-notices-penal">
                                Penal notice
                              </label>
                            </div>
                          </div>                      
                        </fieldset>
                      </div>                      
                      
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-label--s" for="hearings">
                              5. Hearings
                            </label>
                          </legend>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="hearings-delay" name="hearings-delay" type="checkbox" value="Hearing delay warning">
                              <label class="govuk-label govuk-checkboxes__label" for="hearings-delay">
                                Hearing delay warning
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="hearings-backup" name="hearings-backup" type="checkbox" value="Backup notice">
                              <label class="govuk-label govuk-checkboxes__label" for="hearings-backup">
                                Backup notice
                              </label>
                            </div>
                          </div>                      
                        </fieldset>
                      </div>                      
                      
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-label--s" for="filing-documents">
                              6. Filing of documents
                            </label>
                          </legend>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="filing-documents-bundles" name="filing-documents-bundles" type="checkbox" value="Bundles">
                              <label class="govuk-label govuk-checkboxes__label" for="filing-documents-bundles">
                                Bundles
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="filing-documents-pd" name="filing-documents-pd" type="checkbox" value="Filing PD documents">
                              <label class="govuk-label govuk-checkboxes__label" for="filing-documents-pd">
                                Filing PD documents
                              </label>
                            </div>
                          </div>                      
                        </fieldset>
                      </div>                      
                      
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                          7. Additional paragraphs
                        </label>
                        <div id="changed-name-hint" class="govuk-hint">
                          Copy and paste or type any additional paragraphs or orders directly into the text box. 
                        </div>                          
                        <textarea class="govuk-textarea" id="general-directions-additional-orders" name="general-directions-additional-orders" rows="5">{{ data['general-directions-additional-orders'] }}</textarea>
                      </div>
                        
                      <!-- Buttons -->
                      {% include "../../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>
              </div>
          </main>
      </div>      
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
