{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Add hearing to order</h1>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-5">Child's name: Jane Austen</h2>


                  <form action="/r2/x-ui/case-worker/case-worker-general-directions-order-2" method="post" class="form">
                    <h3 class="govuk-heading-s">Existing hearings</h3>
                    <p class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Hearing 1</span> &ndash; 17 November 2022 9:00:00 &ndash; Initial hearing</p>
                    <p class="govuk-!-margin-bottom-5"><span class="govuk-!-font-weight-bold">Hearing 2</span> &ndash; 4 December 2022 15:30:00 &ndash; Leave to oppose</p>
                    <div class="govuk-form-group">
                      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <label class="govuk-label govuk-!-margin-bottom-4 govuk-!-margin-top-7 govuk-!-font-weight-bold" for="sender-email-address">
                          What do you want to do?
                        </label>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="new" name="hearing-new-existing-radios" type="radio" value="Add a new hearing" {% if data['hearing-new-existing-radios'] == "Add a new hearing" %} checked {% endif %}>
                          <label class="govuk-label govuk-radios__label" for="new">
                            Add a new hearing
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="existing" name="hearing-new-existing-radios" type="radio" value="Use existing hearing" {% if data['hearing-new-existing-radios'] == "Use existing hearing" %} checked {% endif %}>
                          <label class="govuk-label govuk-radios__label" for="existing">
                            Use existing hearing
                          </label>
                        </div>          
                      </div>
                    </div>
                    <!-- Buttons -->
                    {% include "../../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
