{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Case management order first directions</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>

                    <p>Review the paragraphs to be inserted into the order. These are based on the options you chose on the previous page. If you would like to change an option, go back to the previous page.</p>

                    <form action="/r2/x-ui/case-worker/case-worker-gatekeeping-order-2" method="post" class="form">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                          1. Preamble
                        </label>
                        <!-- <div id="changed-name-hint" class="govuk-hint">
                          Copy and paste or type directly into the text box
                        </div>                           -->
                        <p>{{ data['gatekeeping-preamble'] }}</p>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-by-email">
                          2. Allocation
                        </label>

                        {% if data['gatekeeping-order-allocate-judge'] === 'previous-judge' %}
                        <label class="govuk-label" for="event-name">
                          {{ data['sameJudge'] }}
                        </label>  
                        {% else %}     
                        <label class="govuk-label" for="event-name">
                          {{ data['differentJudge'] }}  [Name of Judge].               
                        </label>       
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                          Name of judge
                        </label>
                        <div id="changed-name-hint" class="govuk-hint">
                          Enter the full name and title of the judge as it would appear on the order
                        </div>                          
                        <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-judge-name" name="gatekeeping-judge-name" type="text" value="{{ data['gatekeeping-judge-name'] }}">
                        {% endif %}
                      </div>                      

                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-8 govuk-!-margin-bottom-3" for="LA directions">
                          3. Hearing details
                        </label>

                        {% if data['gatekeeping-hearing-date-future-checkbox'] !== undefined %}
                          <label class="govuk-label" for="event-name">
                            The application is listed for [listing type] on a date and time to be fixed by the court.
                          </label>       

                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-by-email">
                                  Listing type
                                </label>
                              </legend>
                              <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="issues-resolution" name="gatekeeping-future-listing-type" type="radio" value="Issues resolution" {% if data['gatekeeping-future-listing-type'] === 'Issues resolution' %} checked {% endif %}>
                                  <label class="govuk-label govuk-radios__label" for="issues-resolution">
                                    Issues resolution
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="case-management" name="gatekeeping-future-listing-type" type="radio" value="Case management" {% if data['gatekeeping-future-listing-type'] === 'Case management' %} checked {% endif %}>
                                  <label class="govuk-label govuk-radios__label" for="case-management">
                                    Case management
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="further-directions" name="gatekeeping-future-listing-type" type="radio" value="Further directions" {% if data['gatekeeping-future-listing-type'] === 'Further directions' %} checked {% endif %}>
                                  <label class="govuk-label govuk-radios__label" for="further-directions">
                                    Further directions
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="final-hearing" name="gatekeeping-future-listing-type" type="radio" value="Final hearing" {% if data['gatekeeping-future-listing-type'] === 'Final hearing' %} checked {% endif %}>
                                  <label class="govuk-label govuk-radios__label" for="final-hearing">
                                    Final hearing
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div> 

                        {% else %}
                          {% if data['gatekeeping-first-hearing-checkbox'] !== undefined %}
                            <label class="govuk-label" for="event-name">
                              The application is listed for a first hearing on [date] at [time] (with a time estimate of [length]) at [court name].                      
                            </label>    

                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                                <label class="govuk-label govuk-label--s  govuk-!-margin-top-4" for="LA directions">
                                    Date and time
                                </label>
                              </legend>
                              <div class="govuk-form-group">
                                <div class="govuk-date-input" id="report-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-day" name="gatekeeping-first-hearing-day" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-day'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-month" name="gatekeeping-first-hearing-month" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-month'] }}"">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gatekeeping-first-hearing-year" name="gatekeeping-first-hearing-year" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-year'] }}"">
                                    </div>
                                  </div>
                                  
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-hour">
                                          Hour
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-hour" name="gatekeeping-first-hearing-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-hour'] }}"">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-minute">
                                          Minute
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-minute" name="gatekeeping-first-hearing-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-minute'] }}"">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-second">
                                          Second
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-second" name="gatekeeping-first-hearing-second" type="text" inputmode="numeric" value="00">
                                      </div>
                                    </div>
                                </div>     
                              </div>
                            </fieldset>

                            <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                              Length of hearing
                            </label>
                            <!-- <div id="changed-name-hint" class="govuk-hint">
                              Choose the length of the hearing, for example, 60 minutes.
                            </div>      -->
                            <div class="govuk-form-group">
                              <div class="govuk-date-input" id="report-date">
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeepinglength-hearing-days">
                                      Days
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeepinglength-hearing-days" name="gatekeepinglength-hearing-days" type="text" inputmode="numeric" value="{{ data['gatekeepinglength-hearing-days'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeepinglength-hearing-hours">
                                      Hours
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeepinglength-hearing-hours" name="gatekeepinglength-hearing-hours" type="text" inputmode="numeric" value="{{ data['gatekeepinglength-hearing-hours'] }}"">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeepinglength-hearing-minutes">
                                      Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeepinglength-hearing-minutes" name="gatekeepinglength-hearing-minutes" type="text" inputmode="numeric" value="{{ data['gatekeepinglength-hearing-minutes'] }}"">
                                  </div>
                                </div>
                              </div>
                            </div>
                              
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                              Name of court
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds govuk-!-margin-bottom-8" id="gatekeeping-court-name" name="gatekeeping-court-name" type="text" value="Manchester Family Court">

                          {% endif %}

                          {% if data['gatekeeping-further-hearings-checkbox'] !== undefined %}
                            <label class="govuk-label" for="event-name">
                              The application is listed for a [listing type] on [date] at [time] with a time estimate of [length] at [court name].                
                            </label>       

                            <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                  <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-by-email">
                                    Listing type
                                  </label>
                                </legend>
                                <div class="govuk-radios" data-module="govuk-radios">
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="issues-resolution" name="gatekeeping-futher-listing-type" type="radio" value="Issues resolution" {% if data['gatekeeping-futher-listing-type'] === 'Issues resolution' %} checked {% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="issues-resolution">
                                      Issues resolution
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="case-management" name="gatekeeping-futher-listing-type" type="radio" value="Case management" {% if data['gatekeeping-futher-listing-type'] === 'Case management' %} checked {% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="case-management">
                                      Case management
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="further-directions" name="gatekeeping-futher-listing-type" type="radio" value="Further directions" {% if data['gatekeeping-futher-listing-type'] === 'Further directions' %} checked {% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="further-directions">
                                      Further directions
                                    </label>
                                  </div>
                                  <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="final-hearing" name="gatekeeping-futher-listing-type" type="radio" value="Final hearing" {% if data['gatekeeping-futher-listing-type'] === 'Final hearing' %} checked {% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="final-hearing">
                                      Final hearing
                                    </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div> 

                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                                <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="LA directions">
                                    Date and time
                                </label>
                              </legend>
                              <div class="govuk-form-group">
                                <div class="govuk-date-input" id="report-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-day" name="gatekeeping-first-hearing-day" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-day'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-month" name="gatekeeping-first-hearing-month" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-month'] }}"">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gatekeeping-first-hearing-year" name="gatekeeping-first-hearing-year" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-year'] }}"">
                                    </div>
                                  </div>
                                  
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-hour">
                                          Hour
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-hour" name="gatekeeping-first-hearing-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-hour'] }}"">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-minute">
                                          Minute
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-minute" name="gatekeeping-first-hearing-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-minute'] }}"">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-second">
                                          Second
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-second" name="gatekeeping-first-hearing-second" type="text" inputmode="numeric" value="00">
                                      </div>
                                    </div>
                                </div>     
                              </div>
                            </fieldset>

                            <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                              Length of hearing
                            </label>
                            <!-- <div id="changed-name-hint" class="govuk-hint">
                              Choose the length of the hearing, for example, 60 minutes.
                            </div>      -->
                            <div class="govuk-form-group">
                              <div class="govuk-date-input" id="report-date">
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeepinglength-hearing-days">
                                      Days
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeepinglength-hearing-days" name="gatekeepinglength-hearing-days" type="text" inputmode="numeric" value="{{ data['gatekeepinglength-hearing-days'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeepinglength-hearing-hours">
                                      Hours
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeepinglength-hearing-hours" name="gatekeepinglength-hearing-hours" type="text" inputmode="numeric" value="{{ data['gatekeepinglength-hearing-hours'] }}"">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeepinglength-hearing-minutes">
                                      Minutes
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeepinglength-hearing-minutes" name="gatekeepinglength-hearing-minutes" type="text" inputmode="numeric" value="{{ data['gatekeepinglength-hearing-minutes'] }}"">
                                  </div>
                                </div>
                              </div>
                            </div>
                              
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                              Name of court
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-court-name" name="gatekeeping-court-name" type="text" value="Manchester Family Court">
                        {% endif %}
                      </div>     
                     
                      {% endif %}

                      {% if (data['gatekeeping-submit-annex-a'] !== undefined) %}
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-8" for="LA directions">
                          Local authority
                        </label>

                        <p class="govuk-body govuk-!-margin-top-3">The Local Authority shall:</p>
                        <ol class="govuk-list govuk-list--number">
                          <li>By HH:MM on DD:MM:YY file the Annex A report; and</li>
                          <li>By HH:MM on the (date in 14 days from the date above) detailing the following:
                            <ul class="govuk-list govuk-list--none">
                              <li>a. The date the Local Authority most recently ascertained the views of the birth parents in relation to this application;</li>
                              <li>b. Whether the addresses provided for the parents upon issue of the application are accurate?</li>
                              <li>c. The steps taken to confirm the current accuracy of the addresses provided?</li>
                              <li>d. Whether the parents are aware of the date of the hearing in paragraph 3 above?</li>
                              <li>e  Identifying the steps taken to confirm the accuracy of these answers from a. through to d. above.</li>
                            </ul>                                
                          </li>
                        </ol>

                        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                            <label class="govuk-label govuk-label--s  govuk-!-margin-top-4" for="LA directions">
                                Date and time for option 1
                            </label>
                          </legend>
                          <div class="govuk-form-group">
                            <div class="govuk-date-input" id="report-date">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-day" name="gatekeeping-la-1-day" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-day'] }}">
                                </div>
                              </div>
                              
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-month" name="gatekeeping-la-1-month" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-month'] }}">
                                </div>
                              </div>
                              
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gatekeeping-la-1-year" name="gatekeeping-la-1-year" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-year'] }}">
                                </div>
                              </div>
                              
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-hour">
                                      Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-hour" name="gatekeeping-la-1-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-hour'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-minute">
                                      Minute
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-minute" name="gatekeeping-la-1-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-minute'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-second">
                                      Second
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-second" name="gatekeeping-la-1-second" type="text" inputmode="numeric" value="00">
                                  </div>
                                </div>
                            </div>     
                          </div>
                        </fieldset>

                        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                            <label class="govuk-label govuk-label--s  govuk-!-margin-top-7" for="LA directions">
                                Time for option 2
                            </label>
                          </legend>
                          <div class="govuk-form-group">
                            <div class="govuk-date-input" id="report-date">                              
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-2-hour">
                                      Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-2-hour" name="gatekeeping-la-2-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-2-hour'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-2-minute">
                                      Minute
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-2-minute" name="gatekeeping-la-2-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-2-minute'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-2-second">
                                      Second
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-2-second" name="gatekeeping-la-2-second" type="text" inputmode="numeric" value="00">
                                  </div>
                                </div>
                            </div>     
                          </div>
                        </fieldset>
                      </div>                          
                      {% endif %}

                                              
                        
                      <!-- Buttons -->
                      {% include "../../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>
              </div>
          </main>
      </div>      
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
