{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Warning notices</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>

                    <form action="/r2/x-ui/case-worker/case-worker-general-directions-order-4-1-1-warning-notices" method="post" class="form">
                      {% if data['warning-notices-child'] !== undefined %}
                        <h3 class="govuk-heading-m">Child arrangements</h3>
                        <p>Where a child arrangements order is in force: if you [name of person] do not comply with paragraph X of this contact order:</p>
                        <ol class="govuk-list govuk-list--number">
                          <li>You may be held in contempt of court and be committed to prison or fined: and/or</li>
                          <li>the court may make an order requiring you to undertake unpaid work (“an enforcement order”) and/or an order that you pay financial compensation.</li>
                        </ol>
                          
                        <p>The above names are not to be disclosed in public without the permission of the court.</p>
                          
                        <p>This order includes a child arrangements order (the part of the order setting out the living arrangements for a child and about time to be spent or contact with another person). If you do not do what the child arrangements order says you may be sent to prison and/or fined, made to do unpaid work or pay financial compensation.</p>

                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                            Name(s) of people
                          </label>
                          <input class="govuk-input" id="child-arrangements-names" name="child-arrangements-names" type="text" value="{{ data['child-arrangements-names'] }}">
                        </div>

                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                            Paragraph number to be complied with 
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-arrangements-paragraph" name="child-arrangements-paragraph" type="text" inputmode="numeric" value="{{ data['child-arrangements-paragraph'] }}"">
                        </div>

                        <p>It is a criminal offence to take a child out of the UK without the consent of everybody with parental responsibility unless the court has been given permission. However, if an order has been made that a child is to live with a person, that person may take the child out of the UK for up to a month at a time.</p>
                        <p>While a child arrangements order is in force in respect of a child nobody may cause the child to be known by a new surname without the consent of everybody with parental responsibility or the court's.</p>
                        
                        <span class="govuk-!-margin-top-6">&nbsp;</span>
                      {% endif %}

                      {% if data['warning-notices-penal'] !== undefined %}
                        <h3 class="govuk-heading-m">Penal notice</h3>
                        <p>If you [name of person] do not comply with paragraph [paragraph numer] of this order you may be held to be in contempt of court and imprisoned or fined, or your assets may be seized.</p>

                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                            Name(s) of people
                          </label>
                          <input class="govuk-input" id="penal-notice-names" name="penal-notice-names" type="text" value="{{ data['penal-notice-names'] }}">
                        </div>

                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                            Paragraph number to be complied with 
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-!-margin-bottom-4" id="penal-notice-paragraph" name="penal-notice-paragraph" type="text" inputmode="numeric" value="{{ data['penal-notice-paragraph'] }}"">
                        </div>
                      {% endif %} 
                        
                      <!-- Buttons -->
                      {% include "../../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>
              </div>
          </main>
      </div>      
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
