{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Disclosure order</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>

                    <form action="/r2/x-ui/case-worker/case-worker-general-directions-order-4-3-disclosure" method="post" class="form">
                      <p>The Court Orders</p>
                      <ol class="govuk-list govuk-list--number">
                        <li>The Department of Work and Pensions/Health and Social Care Information Centre, by its officers, servants or agents shall disclose, in writing, as soon as practicable to the Court Manager at The Family Court, sitting at [name of court] and [court address] all information in its knowledge or control of the whereabouts of [name] (dob: [date of birth]).</li>
                        <li>The Department of Work and Pensions/Health and Social Care Information Centre, by its officers, servants or agents shall not disclose the content of this order or any action they take pursuant to it, to [name] (dob: [date of birth]).</li>
                        <li>There be liberty to the Department of Work and Pensions/Health and Social Care Information Centre to apply to vary or discharge this order upon 24 hours notice.</li>
                      </ol>
    
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                              Order is for
                            </label>
                              </legend>
                          <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="disclosure-order-for-dwp" name="disclosure-order-for" type="radio" value="The department of Work and Pensions">
                              <label class="govuk-label govuk-radios__label" for="disclosure-order-for-dwp">
                                The department of Work and Pensions
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="disclosure-order-for-nhs" name="disclosure-order-for" type="radio" value="NHS Health and social care information centre">
                              <label class="govuk-label govuk-radios__label" for="disclosure-order-for-nhs">
                                NHS Health and social care information centre
                              </label>
                            </div>
                          </div>                      
                        </fieldset>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                          Whereabouts of person named
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="disclose-whereabouts" name="disclose-whereabouts" type="text" value="{{ data['disclose-whereabouts'] }}">
                      </div>

                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="disclosure-date-of-birth-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-2" for="contact-by-email">
                              Date of birth
                            </label>
                            </legend>
                          <div id="disclosure-date-of-birth-hint" class="govuk-hint">
                            For example, 27 3 1997
                          </div>
                          <div class="govuk-date-input" id="disclosure-date-of-birth">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="disclosure-date-of-birth-day">
                                  Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="disclosure-date-of-birth-day" name="disclosure-date-of-birth-day" type="text" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="disclosure-date-of-birth-month">
                                  Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="disclosure-date-of-birth-month" name="disclosure-date-of-birth-month" type="text" inputmode="numeric">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="disclosure-date-of-birth-year">
                                  Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="disclosure-date-of-birth-year" name="disclosure-date-of-birth-year" type="text" inputmode="numeric">
                              </div>
                            </div>
                          </div>
                      
                        </fieldset>
                      </div>                      
                        
                      <!-- Buttons -->
                      {% include "../../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>
              </div>
          </main>
      </div>      
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
