{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Preview the draft order</h1>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>


                  <form action="/r2/x-ui/case-worker/final-adoption-order-4-preview-draft" method="post" class="form">

                    <!-- <p>Preview and check the order in draft. You can make changes on the next page.</p>
                    <p><a href="">Preview draft in PDF (opens in a new tab)</a></p> -->

                    <p>Preview and check the orders in draft. You can make changes on the next page.</p>
                    {% if (data['final-adoption-recipient-first-applicant'] !== undefined or data['final-adoption-recipient-second-applicant'] !== undefined) %}
                      <p><a href="">Applicants_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-birth-mother'] !== undefined %}
                      <p><a href="">Birth_mother_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-birth-father'] !== undefined %}
                      <p><a href="">Birth_father_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-adoption-agency'] !== undefined %}
                      <p><a href="">Adoption_agency_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-child-la'] !== undefined %}
                      <p><a href="">Child_local_authority_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-applicants-la'] !== undefined %}
                      <p><a href="">Applicant_local_authority_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-other-adoption-agency'] !== undefined %}
                      <p><a href="">Other_adoption_agency_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-other-party-pr'] !== undefined %}
                      <p><a href="">Other_person_with_parental_responsibilities_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}

                    {% if data['final-adoption-recipient-cafcass'] !== undefined %}
                      <p><a href="">Cafcass_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}
                    
                    {% if (data['final-adoption-recipient-first-applicant'] == undefined and data['final-adoption-recipient-second-applicant'] == undefined and data['final-adoption-recipient-birth-mother'] == undefined and data['final-adoption-recipient-birth-father'] == undefined and data['final-adoption-recipient-adoption-agency'] == undefined and data['final-adoption-recipient-child-la'] == undefined and data['final-adoption-recipient-applicants-la'] == undefined and data['final-adoption-recipient-other-adoption-agency'] == undefined and data['final-adoption-recipient-other-party-pr'] == undefined and data['final-adoption-recipient-cafcass'] == undefined) %}
                      <p><a href="">xxx_final_order_draft_pdf (opens in a new tab)</a></p>
                    {% endif %}
      
                    <!-- Buttons -->
                    {% include "../../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
