{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Case management order first directions</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>

                    <p>Review the paragraphs to be inserted into the order. These are based on the options you chose on the previous page. If you would like to change an option, go back to the previous page.</p>

                    <form action="/r2/x-ui/case-worker/gatekeeping-order-2" method="post" class="form">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                          Preamble
                        </label>
                        <!-- <div id="changed-name-hint" class="govuk-hint">
                          Copy and paste or type directly into the text box
                        </div>                           -->
                        <p>{{ data['gatekeeping-preamble'] }}</p>
                      </div>

                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-by-email">
                          Allocation
                        </label>

                        {% if data['gatekeeping-order-allocate-judge'] === 'previous-judge' %}
                          <label class="govuk-label" for="event-name">
                            {{ data['sameJudge'] }}
                          </label>  
                          {% else %}     
                          <label class="govuk-label" for="event-name">
                            {{ data['differentJudge'] }}  [name of judge].               
                          </label>       
                          <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                            Name of judge
                          </label>
                          <div id="changed-name-hint" class="govuk-hint">
                            Enter the full name and title of the judge as it would appear on the order
                          </div>                          
                          <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-judge-name" name="gatekeeping-judge-name" type="text" value="{{ data['gatekeeping-judge-name'] }}">
                        {% endif %}
                      </div>                      

                      {% if (data['gatekeeping-hearing-date-future-checkbox'] !== undefined or data['gatekeeping-first-hearing-checkbox'] !== undefined or data['gatekeeping-further-hearings-checkbox'] !== undefined) %}
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-7 govuk-!-margin-bottom-3" for="LA directions">
                          Hearings
                        </label>

                        {% if data['gatekeeping-hearing-date-future-checkbox'] !== undefined %}
                          <label class="govuk-label" for="event-name">
                            The application is listed for [listing type] on a date and time to be fixed by the court.
                          </label>       

                          <div class="govuk-form-group">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                              <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-by-email">
                                Listing type
                              </label>
                            </legend>
                            <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-listing-type" name="gatekeeping-listing-type" type="text" value="{{ data['gatekeeping-listing-type'] }}">                            
                          </div> 

                        {% else %}                            
                          {% if data['gatekeeping-first-hearing-checkbox'] !== undefined %}
                            <label class="govuk-label" for="event-name">
                              The application is listed for a first hearing on [date] at [time] (with a time estimate of [length]) at [court name].                      
                            </label>    

                            
                            <!-- <p class="govuk-!-margin-top-4">The application will be heard 
                              {% if data['gatekeeping-application-heard-radios'] === 'remotely' %} remotely.
                              {% else %} in person. {% endif %}
                            </p> -->
                            
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                                <label class="govuk-label govuk-label--s  govuk-!-margin-top-4" for="LA directions">
                                    Date and time
                                </label>
                              </legend>
                              <div class="govuk-form-group">
                                <div class="govuk-date-input" id="report-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-day" name="gatekeeping-first-hearing-day" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-day'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-month" name="gatekeeping-first-hearing-month" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-month'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gatekeeping-first-hearing-year" name="gatekeeping-first-hearing-year" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-year'] }}">
                                    </div>
                                  </div>
                                  
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-hour">
                                          Hour
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-hour" name="gatekeeping-first-hearing-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-hour'] }}">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-minute">
                                          Minute
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-minute" name="gatekeeping-first-hearing-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-minute'] }}">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-first-hearing-second">
                                          Second
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-first-hearing-second" name="gatekeeping-first-hearing-second" type="text" inputmode="numeric" value="{{ data['gatekeeping-first-hearing-second'] }}">
                                      </div>
                                    </div>
                                </div>     
                              </div>
                            </fieldset>

                            <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                              Length of hearing
                            </label>
                            <div id="changed-name-hint" class="govuk-hint">
                              Insert the length of the hearing in days, hours and minutes, for example 2 hours 30 minutes
                            </div>     
                            <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-first-hearing-length" name="gatekeeping-first-hearing-length" type="text" value="{{ data['gatekeeping-first-hearing-length'] }}">
                              
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                              Name of court
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds govuk-!-margin-bottom-8" id="gatekeeping-court-further-name" name="gatekeeping-court-further-name" type="text" value="Manchester Family Court">

                          {% endif %}

                          {% if data['gatekeeping-further-hearings-checkbox'] !== undefined %}
                            <label class="govuk-label" for="event-name">
                              The application is listed for a [listing type] on [date] at [time] with a time estimate of [length] at [court name].                
                            </label>       

                            <!-- <p class="govuk-!-margin-top-4">The application will be heard 
                              {% if data['gatekeeping-application-heard-radios'] === 'remotely' %} remotely.
                              {% else %} in person. {% endif %}
                            </p> -->


                            <div class="govuk-form-group">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <label class="govuk-label govuk-label--s govuk-!-margin-top-3" for="contact-by-email">
                                  Listing type
                                </label>
                              </legend>
                              <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-listing-type" name="gatekeeping-listing-type" type="text" value="{{ data['gatekeeping-listing-type'] }}">                            
                            </div> 
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                                <label class="govuk-label govuk-label--s govuk-!-margin-top-2" for="LA directions">
                                    Date and time
                                </label>
                              </legend>
                              <div class="govuk-form-group">
                                <div class="govuk-date-input" id="report-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-further-hearing-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-further-hearing-day" name="gatekeeping-further-hearing-day" type="text" inputmode="numeric" value="{{ data['gatekeeping-further-hearing-day'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-further-hearing-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-further-hearing-month" name="gatekeeping-further-hearing-month" type="text" inputmode="numeric" value="{{ data['gatekeeping-further-hearing-month'] }}"">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="gatekeeping-further-hearing-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gatekeeping-further-hearing-year" name="gatekeeping-further-hearing-year" type="text" inputmode="numeric" value="{{ data['gatekeeping-further-hearing-year'] }}"">
                                    </div>
                                  </div>
                                  
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-further-hearing-hour">
                                          Hour
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-further-hearing-hour" name="gatekeeping-further-hearing-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-further-hearing-hour'] }}"">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-further-hearing-minute">
                                          Minute
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-further-hearing-minute" name="gatekeeping-further-hearing-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-further-hearing-minute'] }}"">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="gatekeeping-further-hearing-second">
                                          Second
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-further-hearing-second" name="gatekeeping-further-hearing-second" type="text" inputmode="numeric" value="{{ data['gatekeeping-further-hearing-second'] }}">
                                      </div>
                                    </div>
                                </div>     
                              </div>
                            </fieldset>

                            <label class="govuk-label govuk-label--s govuk-!-margin-top-6" for="contact-by-email">
                              Length of hearing
                            </label>
                            <div id="changed-name-hint" class="govuk-hint">
                              Insert the length of the hearing in days, hours and minutes, for example 2 hours 30 minutes
                            </div>     
                            <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-further-hearing-length" name="gatekeeping-further-hearing-length" type="text" value="{{ data['gatekeeping-further-hearing-length'] }}">
                              
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                              Name of court
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="gatekeeping-court-name" name="gatekeeping-court-name" type="text" value="Manchester Family Court">
                        {% endif %}                     
                      {% endif %}
                      </div>     
                      {% endif %}

                      {% if data['gatekeeping-mode-of-hearing-checkbox'] !== undefined %}
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <div class="govuk-radios" data-module="govuk-radios">
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4 govuk-!-margin-bottom-3" for="contact-by-email">
                              Mode of hearing
                            </label>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="remotely" name="gatekeeping-application-heard-radios" type="radio" value="Remotely" {% if data['gatekeeping-application-heard-radios'] === 'Remotely' %} checked {% endif %}>
                              <label class="govuk-label govuk-radios__label" for="remotely">
                                Remotely
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="in-person" name="gatekeeping-application-heard-radios" type="radio" value="In person" {% if data['gatekeeping-application-heard-radios'] === 'In person' %} checked {% endif %}>
                              <label class="govuk-label govuk-radios__label" for="in-person">
                                In person
                              </label>
                            </div>
                          </div>                        
                        </fieldset>
                      </div>
                    {% endif %}


                      {% if (data['gatekeeping-submit-annex-a'] !== undefined) %}
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s govuk-!-margin-top-8" for="LA directions">
                          Local authority
                        </label>

                        <p class="govuk-body govuk-!-margin-top-3">The Local Authority shall:</p>
                        <ol class="govuk-list govuk-list--number">
                          <li>By HH:MM on DD:MM:YY file the Annex A report; and</li>
                          <li>By HH:MM on the (date in 14 days from the date above) file a statement detailing the following:
                            <ul class="govuk-list govuk-list--none">
                              <li>a. The date the local authority most recently ascertained the views of the birth parents in relation to this application;</li>
                              <li>b. The steps taken to confirm the current accuracy of the addresses provided? Whether the addresses provided for the birth parents upon issue of the application are accurate?</li>
                              <li>c. Whether the parents are aware of the date of the hearing in section 3 above?</li>
                            </ul>                                
                          </li>
                        </ol>

                        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                            <label class="govuk-label govuk-label--s  govuk-!-margin-top-4" for="LA directions">
                                Date and time for option 1
                            </label>
                          </legend>
                          <div class="govuk-form-group">
                            <div class="govuk-date-input" id="report-date">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-day">
                                    Day
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-day" name="gatekeeping-la-1-day" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-day'] }}">
                                </div>
                              </div>
                              
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-month" name="gatekeeping-la-1-month" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-month'] }}">
                                </div>
                              </div>
                              
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gatekeeping-la-1-year" name="gatekeeping-la-1-year" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-year'] }}">
                                </div>
                              </div>
                              
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-hour">
                                      Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-hour" name="gatekeeping-la-1-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-hour'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-minute">
                                      Minute
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-minute" name="gatekeeping-la-1-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-minute'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-1-second">
                                      Second
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-1-second" name="gatekeeping-la-1-second" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-1-second'] }}">
                                  </div>
                                </div>
                            </div>     
                          </div>
                        </fieldset>

                        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                            <label class="govuk-label govuk-label--s  govuk-!-margin-top-7" for="LA directions">
                                Time for option 2
                            </label>
                          </legend>
                          <div class="govuk-form-group">
                            <div class="govuk-date-input" id="report-date">                              
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-2-hour">
                                      Hour
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-2-hour" name="gatekeeping-la-2-hour" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-2-hour'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-2-minute">
                                      Minute
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-2-minute" name="gatekeeping-la-2-minute" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-2-minute'] }}">
                                  </div>
                                </div>
                                
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="gatekeeping-la-2-second">
                                      Second
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="gatekeeping-la-2-second" name="gatekeeping-la-2-second" type="text" inputmode="numeric" value="{{ data['gatekeeping-la-2-second'] }}">
                                  </div>
                                </div>
                            </div>     
                          </div>
                        </fieldset>
                      </div>                          
                      {% endif %}

                      <!-- CAFCASS -->
                      {% if (data['gatekeeping-cafcass-reporting-officer'] != undefined or data['gatekeeping-cafcass-guardian'] != undefined) %}
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s govuk-!-margin-top-8" for="LA directions">
                            Cafcass
                          </label>

                          {% if data['gatekeeping-cafcass-reporting-officer'] != undefined %}
                          <p class="govuk-body govuk-!-margin-top-3">[Cafcass/Cafcass Cymru] are directed to appoint a reporting officer. The reporting officer is requested to file a brief report together with the relevant consent forms witnessing the consent of the birth parents by [time] on [date].</p>
                          <p class="govuk-body">The Adoption Agency (Annex A) report may be disclosed to the reporting officer.</p>

                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-2 govuk-!-margin-bottom-3" for="contact-by-email">
                              Select reporting officer
                            </label>
                          <fieldset class="govuk-fieldset">
                              <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="cafacass" name="cafacass-reporting-officer-radios" type="radio" value="Cafcass">
                                  <label class="govuk-label govuk-radios__label" for="cafacass">
                                    Cafcass
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="cafacass-cympru" name="cafacass-reporting-officer-radios" type="radio" value="Cafcass Cymru">
                                  <label class="govuk-label govuk-radios__label" for="cafacass-cympru">
                                    Cafcass Cymru
                                  </label>
                                </div>
                              </div>                          
                            </fieldset>
                          </div>

                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-told-la-hint">
                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-1">
                                <label class="govuk-label govuk-label--s" for="LA directions">
                                    Date and time
                                </label>
                              </legend>
                              <div class="govuk-form-group">
                                <div class="govuk-date-input" id="report-date">
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="cafacass-reporting-officer-day">
                                        Day
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cafacass-reporting-officer-day" name="cafacass-reporting-officer-day" type="text" inputmode="numeric" value="{{ data['cafacass-reporting-officer-day'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="cafacass-reporting-officer-month">
                                        Month
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cafacass-reporting-officer-month" name="cafacass-reporting-officer-month" type="text" inputmode="numeric" value="{{ data['cafacass-reporting-officer-month'] }}">
                                    </div>
                                  </div>
                                  
                                  <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                      <label class="govuk-label govuk-date-input__label" for="cafacass-reporting-officer-year">
                                        Year
                                      </label>
                                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="cafacass-reporting-officer-year" name="cafacass-reporting-officer-year" type="text" inputmode="numeric" value="{{ data['cafacass-reporting-officer-year'] }}">
                                    </div>
                                  </div>
                                  
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="cafacass-reporting-officer-hour">
                                          Hour
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cafacass-reporting-officer-hour" name="cafacass-reporting-officer-hour" type="text" inputmode="numeric" value="{{ data['cafacass-reporting-officer-hour'] }}">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="cafacass-reporting-officer-minute">
                                          Minute
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cafacass-reporting-officer-minute" name="cafacass-reporting-officer-minute" type="text" inputmode="numeric" value="{{ data['cafacass-reporting-officer-minute'] }}">
                                      </div>
                                    </div>
                                    
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="cafacass-reporting-officer-second">
                                          Second
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="cafacass-reporting-officer-second" name="cafacass-reporting-officer-second" type="text" inputmode="numeric" value="{{ data['cafacass-reporting-officer-second'] }}">
                                      </div>
                                    </div>
                                </div>     
                              </div>
                            </fieldset>
                          </div>                          
                          {% endif %}

                          {% if data['gatekeeping-cafcass-guardian'] != undefined %}
                          <p class="govuk-body {% if data['gatekeeping-cafcass-reporting-officer'] != undefined %} govuk-!-margin-top-9 {% else %} govuk-!-margin-top-3 {% endif %}">The child is made a respondent to the application and a children's guardian is appointed and [Cafcass/Cafcass Cymru] shall use their best endeavours to appoint the same guardian appointed within the previous proceedings case number [case number].</p>

                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                              <label class="govuk-label govuk-label--s govuk-!-margin-top-2 govuk-!-margin-bottom-3" for="contact-by-email">
                                Select reporting officer
                              </label>
                                <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="cafacass" name="cafacass-guardian-radios" type="radio" value="Cafcass">
                                  <label class="govuk-label govuk-radios__label" for="cafacass">
                                    Cafcass
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="cafacass-cympru" name="cafacass-guardian-radios" type="radio" value="Cafcass Cymru">
                                  <label class="govuk-label govuk-radios__label" for="cafacass-cympru">
                                    Cafcass Cymru
                                  </label>
                                </div>
                              </div>                          
                            </fieldset>   
                          </div>

                          <div class=""govuk-form-group">
                            <label class="govuk-label govuk-label--s govuk-!-margin-top-4" for="contact-by-email">
                              Case number
                            </label>
                            <input class="govuk-input govuk-!-width-two-thirds" id="cafcass-case-number" name="cafcass-case-number" type="text" value="{{ data['cafcass-case-number'] }}">
  
                          </div>

                          {% endif %}                         
                        </div>
                      {% endif %}
                        
                      <!-- Buttons -->
                      {% include "../../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>
              </div>
          </main>
      </div>      
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
