{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/r2/check-pay-and-submit/confirmation-2" method="post" class="form">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application submitted
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>1234-5678-9012-3456</strong>
          </div>
          <div class="govuk-panel__body">
            <br><strong>Jack Smith</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email. If you have not received this, you should check your junk or spam folder.
        </p>
        <p class="govuk-body"><a href="#"> Print your application </a>.
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          Your application is sent to the local authority who will provide details of the child's birth parents and any siblings. They will send your application and a separate adoption report (Annex A) to the court. If you don't receive an email confirming this has been done within 10 working days, contact your social worker.        
        </p>

        <p class="govuk-body">The court reviews your application and informs the birth parents, if applicable, of your application to adopt. They might ask the court for leave to oppose. Your social worker should let you know if this happens and how it will affect your application to adopt.
        </p> 
                
        <p class="govuk-body">There will be a number of court hearings involving the local authority and social workers. You do not have to attend these. Birth relatives of the child may also attend the hearings.
        </p>
        
        <p class="govuk-body">Once the adoption order is granted, an adoption certificate is created. This replaces the child's birth certificate. It can be ordered from the <a href="https://www.gov.uk/general-register-office"> General Register Office </a> for a small fee.
        </p>

        <p class="govuk-body">You should contact your social worker for updates on your application. The adoption service cannot provide these.
        </p>


        <h2 class="govuk-heading-m">Adopting more than one child</h2>

        <p class="govuk-body">If you are applying for more than one child, you must complete and submit a new application for each child. This must be done before midnight on the day you submitted your first application or you will be charged an additional court fee of £183.
        </p>

        <p class="govuk-body">You will be asked the same questions. This is because each application is treated separately.
        </p>

        <p class="govuk-body">You might find it useful to take a note of each new reference number next to the name of the child you are applying to adopt. The emails you receive will only contain the reference number.
        </p>

        <p class="govuk-body">You must use the same email address and password for all your applications.
        </p>

        <p class="govuk-body"> <a href="/r2/eligibility/start-placement-2">Start a new application for a different child</a> 
        </p>

    
      </form>
        {% include "../../includes/contactforhelp.html" %}
    </div>
  </div>
</div>

{% endblock %}
