{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="enter-card-details" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['reviewApplication'] }}</span>
        <h1 class="govuk-fieldset__heading">
          Pay and submit
        </h1>
        </legend>
        <p class="govuk-body">You will be taken to the payment page. Your application will be submitted to the local authority and they will be asked to progress it. You cannot edit the application once it has been submitted.</p>
        <p class="govuk-body">If you're applying for more than one child, you must submit a new application for each child. You will not be charged if you submit these before midnight on the day of your first application. If you submit after the day of the first application, you will be charged another £183. You must sign in using the same email address and password used in your first application.</p>
        <p class="govuk-body">A confirmation email of your payment will be sent to you.</p>

        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="submit-button" value="pay-and-submit">
            Pay and submit application
          </button>
        </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}
