{% extends "layout-la-portal.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Your application has been submitted
    </h1>
    <div class="govuk-panel__body">
      Application reference number<br><strong>1234-5678-9012-3456</strong>
    </div>
  </div>
<p class="govuk-body"> We have sent a confirmation to the email addresses registered. </p>
<p class="govuk-body"> The application will now be sent to the court for processing. If you did not upload the Annex A as part of the evidence for the application, you should do this within 10 working days to prevent delays and reminders from being sent.</p>
<p class="govuk-body"> If you cannot upload the Annex A within 10 working days from when you submitted the application, you can email it directly to the court.</p>
<p class="govuk-body"> An email will be sent to the applicants to let them know that their application is with the court. </p>
<p class="govuk-body"> You should discuss any attendance at the hearings with the applicants. Particularly if there is a risk that the birth parents may be there.</p>







      <!-- <form action="/r2/la-portal/CHECK LINK" method="post" class="form">
                <button class="govuk-button" data-module="govuk-button">
                    ?
                </button>
            </form> -->


  </div>
</div>

{% endblock %}
