{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "header-signed-out.html" %}
  {# Set serviceName in config.js. #}
{% endblock %}

{% block beforeContent %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}


{% if useAutoStoreData %}
  {% block footer %}


{{ govukFooter({
  navigation: [
    {
      title: "Services and information",
      width: "two-thirds",
      columns: 2,
      items: [
        {
          href: "https://www.gov.uk/browse/benefits",
          text: "Benefits"
        },
        {
          href: "https://www.gov.uk/browse/births-deaths-marriages",
          text: "Births, deaths, marriages and care"
        },
        {
          href: "https://www.gov.uk/browse/business",
          text: "Business and self-employed"
        },
        {
          href: "https://www.gov.uk/browse/childcare-parenting",
          text: "Childcare and parenting"
        },
        {
          href: "https://www.gov.uk/browse/citizenship",
          text: "Citizenship and living in the UK"
        },
        {
          href: "https://www.gov.uk/browse/justice",
          text: "Crime, justice and the law"
        },
        {
          href: "https://www.gov.uk/browse/disabilities",
          text: "Disabled people"
        },
        {
          href: "https://www.gov.uk/browse/driving",
          text: "Driving and transport"
        },
        {
          href: "https://www.gov.uk/browse/education",
          text: "Education and learning"
        },
        {
          href: "https://www.gov.uk/browse/employing-people",
          text: "Employing people"
        },
        {
          href: "https://www.gov.uk/browse/environment-countryside",
          text: "Environment and countryside"
        },
        {
          href: "https://www.gov.uk/browse/housing-local-services",
          text: "Housing and local services"
        },
        {
          href: "https://www.gov.uk/browse/tax",
          text: "Money and tax"
        },
        {
          href: "https://www.gov.uk/browse/abroad",
          text: "Passports, travel and living abroad"
        },
        {
          href: "https://www.gov.uk/browse/visas-immigration",
          text: "Visas and immigration"
        },
        {
          href: "https://www.gov.uk/browse/working",
          text: "Working, jobs and pensions"
        }
      ]
    },
    {
      title: "Departments and policy",
      width: "one-third",
      items: [
        {
          href: "https://www.gov.uk/government/how-government-works",
          text: "How government works"
        },
        {
          href: "https://www.gov.uk/government/organisations",
          text: "Departments"
        },
        {
          href: "https://www.gov.uk/world",
          text: "Worldwide"
        },
        {
          href: "https://www.gov.uk/search/services",
          text: "Services"
        },
        {
          href: "https://www.gov.uk/search/guidance-and-regulation",
          text: "Guidance and regulation"
        },
        {
          href: "https://www.gov.uk/search/news-and-communications",
          text: "News and communications"
        },
        {
          href: "https://www.gov.uk/search/research-and-statistics",
          text: "Research and statistics"
        },
        {
          href: "https://www.gov.uk/search/policy-papers-and-consultations",
          text: "Policy papers and consultations"
        },
        {
          href: "https://www.gov.uk/search/transparency-and-freedom-of-information-releases",
          text: "Transparency and freedom of information releases"
        }
      ]
    }
  ],
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href:"https://www.gov.uk/help",
            text: "Help"
            },
            {
              href:"https://www.gov.uk/help/privacy-notice",
              text: "Privacy"
              },
              {
                href:"https://www.gov.uk/help/cookies",
                text: "Cookies"
                },
                {
                  href:"https://www.gov.uk/help/accessibility-statement",
                  text: "Accessibility statement"
                  },
                  {
                    href:"https://www.gov.uk/contact",
                    text: "Contact"
                    },
                    {
                      href:"https://www.gov.uk/help/terms-conditions",
                      text: "Terms and conditions"
                      },
                      {
                        href:"https://www.gov.uk/cymraeg",
                        text: "Rhestr o Wasanaethau Cymraeg"
                        },
                      {
                        href:"https://www.gov.uk/government/organisations/government-digital-service",
                        text: "Government Digital Service"
                        }
        ],
        text: ""
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
